*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-hidden {
  opacity: 0;
}

.mg-top-bg {
  margin-top: 8rem;
}

.mg-top-md {
  margin-top: 4rem;
}

.mg-top-sm {
  margin-top: 2rem;
}

.mg-bot-sm {
  margin-bottom: 2rem;
}

.mg-bot-md {
  margin-bottom: 4rem;
}

.text-center {
  text-align: center;
}

.title {
  font-size: 9rem;
  line-height: 1.1;
  font-weight: 600;
  color: #2b313d;
}

.section-title {
  font-size: 4rem;
  color: #2b313d;
  line-height: 1.1;
}

.section-subheading {
  font-size: 2rem;
  color: #3b6ff6;
  font-weight: 500;
  text-transform: uppercase;
}

.smaller-text {
  font-size: 1.4rem;
  display: inline-block;
}

.strong-text {
  font-weight: 600;
  display: inline-block;
}

.black-bg {
  color: #fff;
  background-color: #000;
  font-weight: 600;
  display: inline-block;
  font-size: 2rem;
  padding: 0.5rem;
}

.btn {
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 10px;
  font-weight: 500;
  color: #6d7079;
}
.btn-login {
  color: #fff;
  background-color: #000000;
  transition: 0.3s all linear;
  position: relative;
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.1);
}
.btn-login:hover {
  background-color: #333232;
  transform: translateY(-2px);
}
.btn-login:hover::before {
  transform: scale(1.2);
  opacity: 0;
}
.btn-login:active {
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}
.btn-login::before {
  transition: 0.3s all linear;
  border-radius: 10px;
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
}
.btn-simple {
  transition: 0.3s all linear;
}
.btn-simple:hover {
  color: #52565f;
}
.btn-transparent {
  border: 1px solid #000;
}
.btn-blue {
  background-color: #ebf1ff;
  color: #3b6ff6;
  font-weight: 500;
}

.hidden {
  display: none !important;
}

.closed {
  opacity: 0;
  transform: scaleX(0);
  position: absolute;
  top: 0;
  left: 0;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.clientFlex {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 2rem;
}
.clientFlex__picture {
  max-width: 6rem;
  max-height: 6rem;
  border-radius: 5000%;
  overflow: hidden;
}
.clientFlex__picture__img {
  width: 100%;
}
.clientFlex__info {
  display: flex;
  flex-direction: column;
}
.clientFlex .icon {
  color: #3b6ff6;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #6d7079;
  background-color: #f4f4f4;
}

section {
  transition: 1s all linear;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.nav-container {
  width: 100%;
  padding-top: 2.5rem !important;
}

.fixedNav {
  transition: 0.5s all linear;
  position: fixed;
  min-width: 100vw !important;
  top: 0;
  z-index: 1000;
  background-color: rgb(244, 244, 244);
  padding: 1.2rem 3rem !important;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
}
.fixedNav .top-navigation {
  max-width: 80% !important;
  margin: 0 auto;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.top-navigation__mobilenav {
  display: none;
}
.top-navigation__mobilenav .icon {
  font-size: 3rem;
}
.top-navigation__mobilenav .unclicked-icon {
  display: none;
}
.top-navigation__mobilenav--off .clicked-icon {
  display: none;
}
.top-navigation__mobilenav--off .unclicked-icon {
  display: block;
  font-size: 3rem;
}
.top-navigation__mobilenav--off .mobile-display {
  display: none !important;
}
.top-navigation__mobilenav .mobile-display {
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(244, 244, 244, 0.2);
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-navigation__mobilenav .mobile-display .mobile_navbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  width: 100%;
  text-align: center;
}
.top-navigation__mobilenav .mobile-display .mobile_navbar__item {
  font-size: 4rem;
  list-style: none;
}
.top-navigation__mobilenav .mobile-display .mobile_navbar__item a {
  color: #000;
}
.top-navigation .logo-img {
  max-width: 10%;
}
.top-navigation__navbar {
  display: flex;
  list-style: none;
  gap: 3rem;
  font-weight: 500;
}
.top-navigation__navbar__item .nav-link {
  text-decoration: none;
  color: #6d7079;
  transition: 0.3s all linear;
}
.top-navigation__navbar__item .nav-link:hover {
  color: #52565f;
}
.top-navigation__navbar__item--resources {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.top-navigation__navbar__item--resources .resources__menu {
  position: absolute;
  font-size: 2rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  width: 200%;
  height: fit-content;
  display: flex;
  align-items: center;
  border: 0.5px solid rgb(83, 83, 83);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.top-navigation__navbar__item--resources .resources__menu .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  width: 100%;
  list-style: none;
}
.top-navigation__navbar__item--resources .resources__menu .menu-list__item {
  background-color: #f5f5f5;
  width: 100%;
  padding: 1rem 1rem;
}
.top-navigation__navbar__item--resources .resources__menu .menu-list__item a {
  text-decoration: none;
  color: #000;
}
.top-navigation__navbar__item--resources .resources__menu .menu-list__item:nth-child(even) {
  background-color: #e0e0e0;
}
.top-navigation__navbar__item--whyupstar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
.top-navigation__navbar__item--whyupstar .why__menu {
  position: absolute;
  font-size: 2rem;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  width: 200%;
  height: fit-content;
  display: flex;
  align-items: center;
  border: 0.5px solid rgb(83, 83, 83);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.top-navigation__navbar__item--whyupstar .why__menu .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-decoration: none;
  width: 100%;
  list-style: none;
}
.top-navigation__navbar__item--whyupstar .why__menu .menu-list__item {
  background-color: #f5f5f5;
  width: 100%;
  padding: 1rem 1rem;
}
.top-navigation__navbar__item--whyupstar .why__menu .menu-list__item a {
  text-decoration: none;
  color: #000;
}
.top-navigation__navbar__item--whyupstar .why__menu .menu-list__item:nth-child(even) {
  background-color: #e0e0e0;
}
.top-navigation__loginform {
  display: flex;
  gap: 3rem;
}

.header-container {
  grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
}
.header-container__textBox {
  max-width: 80%;
}
.header-container__textBox .request {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header-container__textBox .request label {
  font-size: 1.2rem;
}
.header-container__textBox .request .input {
  padding: 1rem;
  border-radius: 10px;
  border: 0.5px solid #6d7079;
}
.header-container__textBox .request .input--email {
  align-self: stretch;
  margin-bottom: 2rem;
}
.header-container__imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container__imgBox .image-container {
  max-width: 50%;
  border: 3px solid #3b6ff6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}
.header-container__imgBox .image-container__img {
  max-width: 100%;
  display: block;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: translateY(-2rem) translateX(2rem);
}
.header-container__imgBox .image-container__total-container {
  position: absolute;
  top: 50%;
  left: -50%;
  background-color: #d7fc70;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  color: #101a04;
}
.header-container__imgBox .image-container__total-container .pending,
.header-container__imgBox .image-container__total-container .received {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.header-container__imgBox .image-container__total-container .pending .subheading,
.header-container__imgBox .image-container__total-container .received .subheading {
  font-size: 3rem;
}
.header-container__imgBox .image-container__total-container .pending .btn,
.header-container__imgBox .image-container__total-container .received .btn {
  font-size: 1.2rem;
  padding: 0.5rem;
  font-weight: 600;
  color: #101a04;
}

.container .partners {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.container .partners .partner-logo {
  max-width: 20%;
  max-height: 3rem;
  filter: grayscale(1);
  opacity: 0.5;
}

.section-about {
  background-color: #fff;
}
.section-about .about {
  grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  align-items: center;
}
.section-about .about__imgBox {
  display: flex;
  justify-content: center;
}
.section-about .about__imgBox .image-container {
  max-width: 50%;
  position: relative;
}
.section-about .about__imgBox .image-container__img {
  max-width: 100%;
}
.section-about .about__imgBox .image-container__balanceBox {
  background-color: #3b6ff6;
  position: absolute;
  bottom: -2rem;
  left: -5rem;
  width: 50%;
  border-radius: 10px;
  padding: 2rem;
  color: #f5f5f5;
}
.section-about .about__imgBox .image-container__balanceBox .textFLex {
  display: flex;
  flex-direction: column;
}
.section-about .about__imgBox .image-container__balanceBox .textFLex .strong-text:last-child {
  font-size: 2rem;
  margin-top: 1rem;
}
.section-about .about__imgBox .image-container__balanceBox .iconFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.section-about .about__imgBox .image-container__balanceBox .iconFlex .icon-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #6c93f8;
  border-radius: 500%;
}
.section-about .about__imgBox .image-container__balanceBox .iconFlex .icon-container .icon {
  font-size: 3rem;
}

.section-products {
  background-image: linear-gradient(to right, rgb(247, 247, 255) 70%, rgb(236, 238, 253) 30%);
  padding: 3rem 0;
}
.section-products .products {
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.section-products .products__imgBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-products .products__imgBox .image-container {
  max-width: 50%;
}
.section-products .products__imgBox .image-container__img {
  width: 100%;
}

.section-needs {
  background-color: #fff;
}
.section-needs .needs {
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.section-needs .needs__imgBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.section-needs .needs__imgBox .image-container {
  position: relative;
  max-width: 60%;
  border: 3px solid #3b6ff6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.section-needs .needs__imgBox .image-container__img {
  width: 100%;
  border: 3px solid #3b6ff6;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  display: block;
  transform: translateY(-2rem) translateX(-2rem);
}
.section-needs .needs__imgBox .image-container__clientDetails {
  position: absolute;
  background-color: #fff;
  left: -50%;
  bottom: -10%;
  padding: 3rem;
  border-radius: 10px;
  max-width: 85%;
}
.section-needs .needs__imgBox .image-container__clientDetails .btn-blue {
  display: block;
  text-align: center;
  margin-top: 2rem;
}
.section-needs .needs__textBox .list {
  width: fit-content;
  position: relative;
  transition: 2s all linear;
}
.section-needs .needs__textBox .list__listFlex {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.section-needs .needs__textBox .list__listFlex .strong-text {
  font-size: 2rem;
  color: #3c4e5b;
}
.section-needs .needs__textBox .list__listFlex .icon {
  color: #3b6ff6;
  font-size: 1.8rem;
}
.section-needs .needs__textBox .list__listFlex .icon2 {
  margin-left: auto;
  color: #3b6ff6;
  font-size: 1.8rem;
}
.section-needs .needs__textBox .list__listFlex:hover {
  cursor: pointer;
}
.section-needs .needs__textBox .list__items {
  transition: 0.4s all linear;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section-needs .needs__textBox .list__items__item {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.section-needs .needs__textBox .list__items__item .icon {
  color: #3b6ff6;
}

.section-stats {
  background-color: #fff;
}
.section-stats .stats {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  justify-content: center;
  text-align: center;
  gap: 2rem;
}
.section-stats .stats__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-stats .stats .title {
  font-size: 7rem;
  margin-bottom: 1.5rem;
  max-width: 75%;
}
.section-stats .stats .text-paragraph {
  font-weight: 500;
  max-width: 75%;
}

.section-testimonials {
  background-color: #fff;
}
.section-testimonials .testimonial-container {
  position: relative;
  display: flex;
  overflow-x: hidden;
}
.section-testimonials .testimonial-container__flex-container {
  display: flex;
  justify-content: center;
  min-width: 100%;
  padding: 3rem;
  transition: 0.6s all linear;
}
.section-testimonials .testimonial-container__flex-container__flex-item {
  display: grid;
  grid-template-columns: 40fr 60fr;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  max-height: 100%;
}
.section-testimonials .testimonial-container__flex-container__flex-item .imgBox__img-container {
  max-width: 95%;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  max-height: 40rem;
}
.section-testimonials .testimonial-container__flex-container__flex-item .imgBox__img-container__img {
  max-width: 100%;
  display: block;
}
.section-testimonials .testimonial-container__flex-container__flex-item .textBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 65%;
}
.section-testimonials .testimonial-container .switch {
  position: absolute;
  background-color: #000;
  padding: 1rem;
  border-radius: 500%;
  display: flex;
  align-items: center;
  z-index: 100;
}
.section-testimonials .testimonial-container .switch .icon {
  color: #fff;
  font-size: 2rem;
}
.section-testimonials .testimonial-container .switch--left-arrow {
  top: 50%;
  left: 3rem;
  transform: translateX(-50%) translateY(-50%);
}
.section-testimonials .testimonial-container .switch--right-arrow {
  top: 50%;
  right: 3rem;
  transform: translateX(50%) translateY(-50%);
}
.section-testimonials .testimonial-container .switch:hover {
  cursor: pointer;
}

.section-request {
  background-image: linear-gradient(to right, rgb(247, 247, 255) 70%, rgb(236, 238, 253) 30%);
}
.section-request .request {
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 10rem;
}
.section-request .request__imgBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10rem;
  max-width: 80%;
}
.section-request .request__imgBox__image-container {
  max-width: 6em;
  min-width: 6rem;
  min-height: 10rem;
  max-height: 10rem;
  border-radius: 500%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-request .request__imgBox__image-container__img {
  width: 100%;
  object-fit: contain;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.1);
}
.section-request .request__imgBox__image-container--facebook {
  transform: translateY(50%);
}
.section-request .request__imgBox__image-container--google {
  transform: translateY(50%);
}
.section-request .request__imgBox__image-container--outlook {
  transform: translateY(100%);
}
.section-request .request__imgBox__image-container--slack {
  transform: translateY();
}
.section-footer {
  background-color: #fff;
}
.section-footer .footer {
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
}
.section-footer .footer__col:not(:first-child) {
  justify-self: center;
}
.section-footer .footer__col--upstar {
  max-width: 50%;
}
.section-footer .footer__col--upstar .strong-text {
  font-size: 2rem;
  color: #000;
}
.section-footer .footer__col__social-media {
  display: flex;
  gap: 1.2rem;
}
.section-footer .footer__col__social-media .icon-container {
  padding: 0.5rem;
  border: 0.5px solid #3c4e5b;
  border-radius: 500%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-footer .footer__col__social-media .icon-container .icon {
  color: #000;
}
.section-footer .footer__col__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
  list-style: none;
}
.section-footer .footer .link {
  text-decoration: none;
  color: #6d7079;
}

@media (max-width: 77em) {
  html {
    font-size: 50%;
  }
  .section-request .request__imgBox {
    max-width: 100%;
  }
  .section-request .request__imgBox__image-container {
    transform: translate(0);
  }
}
@media (max-width: 57em) {
  .header-container {
    text-align: center;
  }
  .header-container__textBox {
    max-width: 100%;
    margin-bottom: 5rem;
  }
  .products {
    text-align: center;
  }
  .about__textBox {
    grid-row: -1/1;
    text-align: center;
  }
  .needs__textBox {
    grid-row: -1/1;
    text-align: center;
    margin-bottom: 2rem;
  }
  .needs__imgBox {
    display: flex;
    justify-content: center;
  }
  .section-testimonials .container {
    max-width: 100vw;
  }
  .top-navigation__navbar {
    display: none;
  }
  .top-navigation__loginform {
    display: none;
  }
  .top-navigation__mobilenav {
    display: block;
  }
}
@media (max-width: 43em) {
  html {
    font-size: 43%;
  }
  .container {
    max-width: 100vw;
    padding: 3 3rem;
  }
  .section-testimonials .testimonial-container__flex-container__flex-item {
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    padding: 3rem;
  }
  .section-testimonials .testimonial-container__flex-container__flex-item .textBox {
    max-width: 100%;
    text-align: center;
  }
  .section-testimonials .testimonial-container__flex-container__flex-item .imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section-testimonials .testimonial-container__flex-container__flex-item .imgBox__img-container {
    max-width: 50% !important;
    border-radius: 500%;
    overflow: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@media (max-width: 32em) {
  .container {
    padding: 2rem;
  }
  .section-stats .stats {
    grid-template-columns: 1fr;
  }
  .footer {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr) !important;
  }
  .footer__col--upstar {
    grid-column: -1/1;
    grid-row: 2;
    margin-top: 1rem;
  }
}
@media (max-width: 26em) {
  .header .title {
    font-size: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
